en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
huggingface-hub==0.22.2
librosa==0.10.1
matplotlib==3.8.3
nltk==3.8.1
numpy==1.26.4
plotly==5.20.0
pydub==0.25.1
pysentiment2==0.1.1
scikit-learn==1.4.1.post1
scipy==1.12.0
sentence-transformers==2.6.1
spacy==3.7.4
tokenizers==0.15.2
torch==2.2.2
transformers==4.39.3
umap-learn==0.5.6
bertopic
